
@import "../../../../assets/form-css/card-css";
@import "../../../../assets/form-css/button-css";

.picture-container {
   height: 400px;
   border-radius: 16px;

   border: solid 0.5px #3b3838;
   border-style: dashed;

}


.text-muted {
  color: #6c757d!important;
}

.text-fournir{
  text-align: center ;
  color: #C10359;
  font-size: 16px;

}

