<div nz-row nzJustify="center" nzAlign="middle" class="card-offre-content">

  <div nz-col nzSpan="5" >
    <img src="{{logo}}" width="60" height="60" alt="">
  </div>

  <div nz-col nzSpan="12" >
    <!-- content text  -->
    <div nz-row >
      <div nz-col nzSpan="20" class="card-offre-somme">
        {{sommeOffre}}CFA
      </div>

      <div nz-col nzSpan="20" class="card-offre-entreprise">
        {{nomEntreprise}}
      </div>
      <div nz-col nzSpan="20" class="card-offre-taux">
        Taux {{tauxOffre}}%
      </div>
    </div>
    <!-- content text  -->
  </div>

  <div nz-col nzOffset="3" nzSpan="2">
    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" class="card-offre-checkbox" >
  </div>

</div>
