<nz-layout>
  <!-- logo de suqali  -->
  <div nz-row nzJustify="center" nzAlign="middle" >
    <div nz-col nzSpan="20">
      <div nz-row nzJustify="center">
        <img src="assets/images/Touch-Finance.png" style="cursor: pointer;" width="400" height="200" alt="" routerLink="/home">
      </div>
    </div>
  </div>
  <!-- logo de suqali  -->
  <!-- texte de a propos  -->
  <div nz-row nzJustify="center">
    <div nz-col nzSpan="20" class="apropos-text" >
      <p>
         TouchFinace est une plateforme digitale conçue pour favoriser l'inclusion financière.
         Elle est destinée à tous les micro-entrepreneurs, petites et moyennes entreprises informelles ou formelles dans le but de faciliter leur accès au financement.
      </p>
      <p>
        TouchFinace a été mis en place pour apporter une réponse efficace face aux effets néfastes de la pandémie liée à la COVID 19 sur les activités économiques.
      </p>
      <p>
        Où que vous soyez au Sénégal, nous proposons des solutions de financement parfaitement adaptées à votre activité.
      </p>
    </div>
  </div>
  <!-- texte de a propos  -->

  <!-- Titre de A propos sur les secteurs  -->
  <div nz-row nzJustify="center" nzAlign="middle" >
    <div  nz-col class="apropos-title" >
      Les secteurs prioritaires du Suqali
    </div>
  </div>
  <!-- Titre de A propos sur les secteurs  -->

  <!-- Secteurs de TouchFinace -->
  <div nz-row nzJustify="center" >
    <!-- JUST FOR HARMONIZE TO 20 COL  -->
    <div nz-col nzSpan="20" style="padding: 20px;">
      <div nz-row nzJustify="center"  >
        <div nz-col nzSpan="6" >
          <app-apropossecteur imgSrc="assets/images/a-propos/agriculture.png" textSecteur="Agriculture, Pêche et Elevage" >
          </app-apropossecteur>
        </div>
        <div nz-col nzSpan="6" >
          <app-apropossecteur imgSrc="assets/images/a-propos/artisanat.png" textSecteur="Artisanat, Commerce
          (Services et Production)" >
          </app-apropossecteur>
        </div>
        <div nz-col nzSpan="6" >
          <app-apropossecteur imgSrc="assets/images/a-propos/tourisme.png" textSecteur="Tourisme,
          Hôtellerie et Restauration " >
          </app-apropossecteur>
        </div>
      </div>
    </div>
    <!-- JUST FOR HARMONIZE TO 20 COL  -->

    <!-- JUST FOR HARMONIZE TO 20 COL  -->
    <div nz-col nzSpan="20" style="padding: 20px;">
      <div nz-row nzJustify="center"  >
        <div nz-col nzSpan="6" >
          <app-apropossecteur imgSrc="assets/images/a-propos/transport.png" textSecteur="Transport et  Logistique" >
          </app-apropossecteur>
        </div>
        <div nz-col nzSpan="6" >
          <app-apropossecteur imgSrc="assets/images/a-propos/tic.png" textSecteur="TICS" >
          </app-apropossecteur>
        </div>
        <div nz-col nzSpan="6" >
          <app-apropossecteur imgSrc="assets/images/a-propos/education.png" textSecteur="Education et Santé" >
          </app-apropossecteur>
        </div>
      </div>
    </div>
    <!-- JUST FOR HARMONIZE TO 20 COL  -->

     <!-- JUST FOR HARMONIZE TO 20 COL  -->
     <div nz-col nzSpan="20" style="padding: 20px;">
      <div nz-row nzJustify="center"  >
        <div nz-col nzSpan="6" >
          <app-apropossecteur imgSrc="assets/images/a-propos/autres.png" textSecteur="Autres Secteurs" >
          </app-apropossecteur>
        </div>
      </div>
    </div>
    <!-- JUST FOR HARMONIZE TO 20 COL  -->
  </div>
  <!-- Secteurs de TouchFinace -->
</nz-layout>
