nz-layout{
  background-color: white;
}

.apropos-text{
  height: fit-content;
  min-height: fit-content;
  font-family: Avenir;
  font-size: 18px;
  text-align: justify;
}


.apropos-title{
  font-family :Avenir ;
  font-size : 24px ;
  color :  #F49D1E ;
}
