@import "src/assets/form-css/form-css";
@import "../../../../assets/form-css/card-css";
@import "../../../../assets/form-css/button-css";

.login-form {
  max-width: 300px;
}

.login-form-margin {
  margin-bottom: 16px;
  margin-right: 33%;
}

.login-form-forgot {
  float: right;
}

