@import "src/assets/form-css/form-css";
@import "src/assets/form-css/card-css";
@import "src/assets/form-css/button-css";

.adjustements-inputs{
  margin-top:10%;
}

.adjustements-inputss{
  margin-top:6%;
}
.invalid-input{
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: red;

}
