
@import "src/assets/form-css/form-css";
@import "../../../../assets/form-css/card-css";
@import "../../../../assets/form-css/button-css";


.adjustements-inputs{
  margin-top: 10%;
}
.adjustements-inputss{
  margin-top: 6%;
}
.adjustements-input-jeuns{
  margin-top: 3%;
}
.invalid-input{
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: red;
}
.piececolor{
  color: #DC352C;
  font-size: .875em;
}
