<nz-spin [nzSpinning]="isSpinning" [nzDelay]="500">
  <nz-layout>
    <div nz-row class="menu-home" nzJustify="space-between" nzAlign="middle" >
      <div nz-col nzSpan="4" nzXs="6" nzMd="4" nzLg="4" routerLink="/beneficiaire" style="cursor: pointer;" >
        <img src="../../../../assets/images/logo-TG_valide.svg" height="70" width="100" alt="">
      </div>
      <!-- Element du Menu  -->
      <div nz-col nzSpan="14" class="menu-element" nzXs="0" nzMd="12" nzLg="14" >
        <ul nz-menu nzMode="horizontal" >
          <div nz-row nzJustify="space-around" nzAlign="middle" >
            <div nz-col nzSpan="3" routerLink="/beneficiaire">
              <li nz-menu-item>
                <i nz-icon nzType="home" style="margin-right: 7px;"></i>
                Aperçu
              </li>
            </div>
            <div nz-col nzSpan="4" routerLink="/beneficiaire/demande">
              <li nz-menu-item>
                <i nz-icon nzType="folder" style="margin-right: 7px;"></i>
                Mes Demandes
              </li>
            </div>
            <div nz-col nzSpan="4" routerLink="/beneficiaire/notification">
              <li nz-menu-item>
                <nz-badge  nzDot [nzShowDot]="false" >
                  <i nz-icon nzType="bell"  nzTheme="outline"></i>
                </nz-badge>
                 Mes Notifications
              </li>
            </div>

          </div>

        </ul>
      </div>
      <!-- Element du Menu  -->
      <!-- Bouton de connexion et d'inscripition  -->
      <div nz-col nzSpan="6" nzXs="16" nzSm="8" nzMd="6" nzLg="6">
        <div nz-row nzJustify="end" nzAlign="middle">
          <!-- <div nz-col nzSpan="6">
            <nz-badge nzDot >
              <i nz-icon nzType="bell" style="font-size: 21px;"></i>
            </nz-badge>
          </div> -->

          <div nz-col nzSpan="6">
            <nz-avatar [nzSize]="45" nzIcon="user" nzSrc="{{baseUrlFile}}" nz-dropdown [nzDropdownMenu]="menuUser">
            </nz-avatar>

            <nz-dropdown-menu #menuUser="nzDropdownMenu">
              <ul nz-menu nzSelectable>
                <!-- <li nz-menu-item routerLink="profil" >
                  <i nz-icon nzType="user" nzTheme="outline"></i>
                  <span style="margin-left: 10px;">Profil</span>
                </li> -->
                <li nz-menu-item routerLink="change_password" >
                  <i nz-icon nzType="edit" nzTheme="outline"></i>
                  <span style="margin-left: 10px;">Changer mot de passe</span>
                </li>
                <li nz-menu-item (click)="showConfirm()" >
                  <i nz-icon nzType="logout" nzTheme="outline"></i>
                  <span style="margin-left: 10px;">Se déconnecter</span>
                </li>
              </ul>
            </nz-dropdown-menu>


          </div>

          <div nz-col nzSpan="6">
            <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
              <img src="../../../../assets/images/beneficiaire/menu/flag/france 1.jpg" width="20" height="20" alt="">
              FRA
              <i nz-icon nzType="down"></i>
            </a>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item>
                  <img src="../../../../assets/images/beneficiaire/menu/flag/france 1.jpg" width="20" height="20" alt=""> &nbsp; Francais
                </li>
                <!-- <li nz-menu-item>2nd menu item</li> -->
              </ul>
            </nz-dropdown-menu>
          </div>

          <!-- <div nz-col nzSpan="6">
             <nz-badge (click)="showConfirm()">
              <i nz-icon nzType="logout" nzTheme="outline" style="font-size: 21px;"></i>
            </nz-badge>
          </div>  -->
        </div>
      </div>
    </div>
    <!-- container  -->
    <div nz-row class="login-container" nzJustify="center" nzAlign="middle" *ngIf="!showSuccess">
      <div nz-col nzSpan="8" class="login-content">
        <nz-card style="width:auto;border-radius: 8px;" [nzBordered]="false" nzTitle="Modification mot de passe">
          <!-- Formulaire de reinitialisation  -->
          <form nz-form [formGroup]="changePasswordForm">

            <nz-form-item nzJustify="center">
              <nz-form-label [nzSpan]="22" nzFor="email"
                >Ancien mot de passe
              </nz-form-label>
              <nz-form-control [nzErrorTip]="combineTpl">
                <nz-input-group nzPrefixIcon="lock" [nzSuffix]="suffixPassword" >
                  <input [type]="passwordVisible ? 'text' : 'password'" nz-input formControlName="oldPassword" placeholder="Mot de passe" />
                  <!-- suffix of password  -->
                  <ng-template #suffixPassword>
                    <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"></i>
                  </ng-template>
                  <!-- suffix of password  -->
                </nz-input-group>
              </nz-form-control>

            </nz-form-item>
              <ng-template #combineTpl let-control>
                <ng-container *ngIf=" control.hasError('required')">Ce champ est obligatoire</ng-container>
                <ng-container *ngIf=" control.hasError('pattern')">Ce champ est invalide </ng-container>
                <ng-container *ngIf=" control.hasError('pw_mismatch')">Ce champ est invalide </ng-container>
              </ng-template>

              <nz-form-item nzJustify="center">
                <nz-form-label [nzSpan]="22" nzFor="email">
                  Nouveau Mot de passe
                </nz-form-label>
                <nz-form-control >
                  <nz-input-group nzPrefixIcon="lock" [nzSuffix]="suffixPassword" >
                    <input [type]="passwordVisible ? 'text' : 'password'" nz-input formControlName="newPassword" placeholder="Mot de passe" />
                    <!-- suffix of password  -->
                    <ng-template #suffixPassword>
                      <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"></i>
                    </ng-template>
                    <!-- suffix of password  -->
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>

              <nz-form-item nzJustify="center">
                <nz-form-label [nzSpan]="22" nzFor="email">
                  Confirmer le nouveau mot de passe
                </nz-form-label>
                <nz-form-control [nzErrorTip]="combineTpl" >
                  <nz-input-group nzPrefixIcon="lock" [nzSuffix]="suffixPassword" >
                    <input [type]="passwordVisible ? 'text' : 'password'" nz-input formControlName="newPasswordConfirmation" placeholder="Mot de passe" />
                    <!-- suffix of password  -->
                    <ng-template #suffixPassword>
                      <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"></i>
                    </ng-template>
                    <!-- suffix of password  -->
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>

              <div id="errorMessage" *ngIf="showError">  {{errorMessage}} </div>
            <nz-form-item nzJustify="center">
              <nz-form-control [nzSpan]="14">
                <div nz-row nzJustify="center">
                  <div nz-col>
                    <button nz-button  [disabled]="!changePasswordForm.valid" (click)="validerChangePassword()" >Valider</button>
                  </div>
                </div>
              </nz-form-control>
            </nz-form-item>
          </form>
        <!-- Formulaire de reinitialisation  -->
        </nz-card>
      </div>
    </div>

    <!--  Message de succes  -->
    <div nz-row class="login-container" nzJustify="center" nzAlign="middle" nzJustify="center" nzAlign="middle" *ngIf="showSuccess">
      <div nz-col nzSpan="8" class="login-content">
        <nz-card style="width:auto;border-radius: 8px;" [nzBordered]="false" nzTitle="Modification mot de passe">
          <!-- Formulaire de connexion  -->
          <form nz-form style="margin-left: 25%;" [formGroup]="changePasswordForm" class="login-form-here">
            <nz-alert
            nzType="success"
            nzDescription="Modification de mot de passe effectuée avec succès "
          ></nz-alert>
          <!-- <button style="margin-top: 10px;" nz-button nzType="primary" nzShape="round" class="boutton-suivant" routerLink="/login">
            Se connecter
          </button> -->
          </form>
        <!-- Formulaire de connexion  -->
        </nz-card>
      </div>
    </div>

    <!--  Message derreur  -->
    <div nz-row class="login-container" nzJustify="center" nzAlign="middle" nzJustify="center" nzAlign="middle" *ngIf="showError">
      <div nz-col nzSpan="8" class="login-content">
        <nz-card style="width:auto;border-radius: 8px;" [nzBordered]="false" nzTitle="Modification mot de passe">
          <form nz-form style="margin-left: 25%;" [formGroup]="changePasswordForm" class="login-form-here">
            <nz-alert
            nzType="error"
            nzDescription="errorMessage"
          ></nz-alert>
          <!-- <button style="margin-top: 10px;" nz-button nzType="primary" nzShape="round" class="boutton-suivant" routerLink="/login">
            Se connecter
          </button> -->
          </form>
        </nz-card>
      </div>
    </div>
  </nz-layout>
</nz-spin>
