<nz-layout>

  <!-- container  -->

  <div nz-row class="login-container" nzJustify="center" nzAlign="middle" nzJustify="center" nzAlign="middle" *ngIf="!showCodeOtpForm && !showSuccess">
    <div nz-col nzSpan="8" class="login-content">
      <nz-card style="width:auto;border-radius: 8px;" [nzBordered]="false" nzTitle="Réinitialiser mot de passe">
        <!-- Formulaire identifiant  -->
        <form nz-form [formGroup]="resetPasswordForm" class="login-form-here">
          <nz-form-item>
            <nz-form-control>
              <nz-form-label [nzSm]="12" [nzXs]="24" nzRequired >Identifiant</nz-form-label>
              <nz-input-group nzPrefixIcon="user">
                <input type="text" nz-input name="username" placeholder="Identifiant" formControlName="username"/>
              </nz-input-group>
              <div *ngIf="resetPasswordForm.controls.username.hasError('required') && resetPasswordForm.controls.username.touched">
                <span id="errorMessage">Identifiant obligatoire</span> <br>
              </div>
              <div *ngIf="resetPasswordForm.controls.username.hasError('pattern') && resetPasswordForm.controls.username.touched">
                <span id="errorMessage">Mauvais format de l'identifiant </span> <br>
              </div>
            </nz-form-control>
          </nz-form-item>
          <div id="errorMessage" *ngIf="showError">  {{errorMessage}} </div>
          <div nz-col nzSpan="18"  class="steps-action marge-form" id="section_button_entreprise">
            <button nz-button [disabled]="!resetPasswordForm.valid" nzType="primary" nzShape="round" (click)="resetPassword()" class="boutton-suivant">
              Valider
            </button>
          </div>
          
        </form>
        <div nz-row nzJustify="end" style="margin-top: 20px;">
          <span>
          <button nz-button nzType="link" routerLink="/login" nzShape="round" nz-popover>
            Retour
          </button>
          </span>
        </div>
      <!-- Formulaire identifiant  -->
      </nz-card>
    </div>
  </div>

  <div nz-row class="login-container" nzJustify="center" nzAlign="middle" nzJustify="center" nzAlign="middle" *ngIf="showCodeOtpForm">
    <div nz-col nzSpan="8" class="login-content">
      <nz-card style="width:auto;border-radius: 8px;" [nzBordered]="false" nzTitle="Réinitialiser mot de passe">
        <!-- Formulaire de reinitialisation  -->
        <form nz-form [formGroup]="otpForm" class="login-form-here">
          <nz-form-item>
            <nz-form-control >
              <nz-form-label nzRequired nzFor="11">Mot de passe</nz-form-label>
              <nz-input-group nzPrefixIcon="lock" >
                <input type="password" nz-input name="password" placeholder="Entrer nouveau mot de passe" formControlName="password" />
              </nz-input-group>
              <span *ngIf="otpForm.controls.password.hasError('pattern') && otpForm.controls.password.touched">
	          		<span id="errorMessage">Mauvais format du mot de passe </span> <br>
              </span>
              <span *ngIf="otpForm.controls.password.hasError('required') && otpForm.controls.password.touched">
                <span id="errorMessage">Mot de passe obligatoire</span> <br>
              </span>
              <span *ngIf="otpForm.controls.password.hasError('minlength') && otpForm.controls.password.touched">
                <span id="errorMessage">Entrez au moins 6 chiffres</span> <br>
              </span>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control  >
              <nz-form-label [nzSm]="12" [nzXs]="24" nzRequired nzFor="11">Confirmer mot de passe</nz-form-label>
              <nz-input-group nzPrefixIcon="lock">
                <input type="password" nz-input name="password" placeholder="Confirmer nouveau mot de passe" formControlName="passwordConfirmation"/>
              </nz-input-group>
              <span *ngIf="otpForm.controls.passwordConfirmation.hasError('pattern') && otpForm.controls.passwordConfirmation.touched">
	          		<span id="errorMessage">Mauvais format du mot de passe </span> <br>
              </span>
              <span *ngIf="otpForm.controls.passwordConfirmation.hasError('required') && otpForm.controls.passwordConfirmation.touched">
                <span id="errorMessage">Mot de passe obligatoire</span> <br>
              </span>
              <span *ngIf="otpForm.controls.passwordConfirmation.hasError('minlength') && otpForm.controls.passwordConfirmation.touched">
                <span id="errorMessage">Entrez au moins 6 chiffres</span> <br>
              </span>
              <span *ngIf="otpForm.controls.passwordConfirmation.hasError('pw_mismatch') && otpForm.controls.passwordConfirmation.touched">
	          		<span id="errorMessage">Les mots de passe ne correspondent pas</span> <br>
	    		    </span>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control >
              <nz-form-label [nzSm]="24" [nzXs]="24" nzRequired nzFor="11">Veuillez saisir le code reçu par sms</nz-form-label>
              <nz-input-group nzPrefixIcon="user">
                <input type="text" nz-input name="code" formControlName="code" placeholder="Code reçu" />
              </nz-input-group>
              <span *ngIf="otpForm.controls.code.hasError('pattern') && otpForm.controls.code.touched">
	          		<span id="errorMessage">Le code ne contient que des chiffres </span> <br>
              </span>
              <span *ngIf="otpForm.controls.code.hasError('required') && otpForm.controls.code.touched">
                <span id="errorMessage">Code de validation obligatoire</span> <br>
              </span>
              <span *ngIf="otpForm.controls.code.hasError('minlength') && otpForm.controls.code.touched">
                <span id="errorMessage">Le code est de 6 chiffres</span> <br>
              </span>
              <span *ngIf="otpForm.controls.code.hasError('maxlength') && otpForm.controls.code.touched">
                <span id="errorMessage">Le code est de 6 chiffres</span> <br>
              </span>
            </nz-form-control>
          </nz-form-item>
          <div id="errorMessage" *ngIf="showError">  {{errorMessage}} </div>
          <nz-form-item nz-row class="register-area">
            <nz-form-control [nzSpan]="14" [nzOffset]="6">
              <button nz-button nzType="primary" [disabled]="!otpForm.valid" (click)="validerResetPassword()" >Valider code</button>
            </nz-form-control>
          </nz-form-item>
        </form>
        <div nz-row nzJustify="end" style="margin-top: 20px;">
          <span>
          <button nz-button nzType="link" routerLink="/login" nzShape="round" nz-popover>
            Retour
          </button>
          </span>
        </div>
      <!-- Formulaire de reinitialisation  -->
      </nz-card>
    </div>
  </div>

  <!--  Message de succes  -->
  <div nz-row class="login-container" nzJustify="center" nzAlign="middle" nzJustify="center" nzAlign="middle" *ngIf="showSuccess">
    <div nz-col nzSpan="8" class="login-content">
      <nz-card style="width:auto;border-radius: 8px;" [nzBordered]="false" nzTitle="Réinitialiser mot de passe">
        <!-- Formulaire de connexion  -->
        <form nz-form style="margin-left: 25%;" [formGroup]="otpForm" class="login-form-here">
          <nz-alert
          nzType="success"
          nzDescription="Votre mot de passe est réinitialisé"
        ></nz-alert>
        <button style="margin-top: 10px;" nz-button nzType="primary" nzShape="round" class="boutton-suivant" routerLink="/login">
          Se connecter
        </button>
        </form>
      <!-- Formulaire de connexion  -->
      </nz-card>
    </div>
  </div>

  <!--  Message derreur  -->
  <!-- <div nz-row class="login-container" nzJustify="center" nzAlign="middle" nzJustify="center" nzAlign="middle" *ngIf="showError">
    <div nz-col nzSpan="8" class="login-content">
      <nz-card style="width:auto;border-radius: 8px;" [nzBordered]="false" nzTitle="Réinitialiser mot de passe">
        <form nz-form style="margin-left: 25%;" [formGroup]="otpForm" class="login-form-here">
          <nz-alert
          nzType="error"
          nzDescription="errorMessage"
        ></nz-alert>
        <button style="margin-top: 10px;" nz-button nzType="primary" nzShape="round" class="boutton-suivant" routerLink="/login">
          Se connecter
        </button>
        </form>
      </nz-card>
    </div>
  </div> -->
</nz-layout>