<div nz-row class="end-of-footer" nzJustify="space-between" nzAlign="middle">
  <div nz-col nzSpan="3" nzXs=4 nzSm="5" nzMd="6">
    <img alt="" height="70" src="assets/images/logo-TG_valide.svg">
  </div>

  <div nz-col   nzSpan="3" nzXs="0" nzSm="0" nzMd="3">
    <div style="color: white;">
      © 2021
    </div>
    <div style=" margin-left: 2%; color: white;" nzAlign="middle">
      v 0.0.5
    </div>
  </div>
  <div nz-col nzSpan="3" nzXs="12" nzSm="10" nzMd="10" nzLg="8" >
    <div nz-row >


      <div nz-col  nzSpan="5">
        <img alt="" height="40" src="assets/images/Social Icons/White/twitter.svg" width="40">
      </div>
      <div nz-col  nzSpan="5">
        <img alt="" height="40" src="assets/images/Social Icons/White/facebook.svg" width="40">
      </div>
      <div nz-col  nzSpan="5">
        <img alt="" height="40" src="assets/images/Social Icons/White/instagram.ico" width="40">
    </div>
      <div nz-col nzSpan="5" >
        <img alt="" height="40" src="assets/images/Social Icons/White/linkedin.svg" width="40">
      </div>
      <div nz-col nzSpan="5" >
        <img alt="" height="40" src="assets/images/Social Icons/White/Youtube.svg" width="40">
      </div>
    </div>
  </div>
</div>
