@import "src/assets/form-css/form-css";
.marge-centre{
  margin-top: 3%;
}
.text-area-form{
  height:50px!important;
  border-radius: 8px;
}
.adjustements-inputs{
  margin-top:10%;
}
.invalid-input{
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: red;
  font-weight: bold;

}
