@import "src/assets/form-css/form-css";
@import "src/assets/form-css/card-css";
@import "src/assets/form-css/button-css";
.marge-centre{
margin-top: 3%;
}
.adjustements-inputs{
  margin-top: 10%;
}
.adjustements-inputss{
  margin-top: 15%;
}
