<nz-layout>
  <!-- Menu   -->
  <div nz-row class="menu-home" nzJustify="space-between" nzAlign="middle" style="height: auto">
    <div nz-col [nzXs]="{ offset: 0, span: 6, push: 0 }" [nzSm]="{ offset: 0, span: 6, push: 0 }" [nzMd]="{ span: 2, offset: 0 }" [nzLg]="{ span: 2 }" [nzXl]="{ span: 2 }" routerLink="/pmo" style="cursor: pointer;"><img
      src="../../../../assets/images/logo-TG_valide.svg" height="70" width="100" alt="">
    </div>
    <!-- Element du Menu  -->
    <div nz-col [nzXs]="{ offset: 1, span: 10, push: 0 }" [nzSm]="{ offset: 0, span: 10, push: 0 }" [nzMd]="{ span: 20, offset: 0 }" [nzLg]="{ span: 16 }" [nzXl]="{ span: 17 }" class="menu-element">
      <ul nz-menu nzMode="horizontal">
        <div nz-row nzJustify="space-around" nzAlign="middle">
          <div nz-col>
            <li nz-menu-item >
              <i nz-icon nzType="user-add" class="nav-link" routerLink="personnes">
                Personnes
              </i>
            </li>
          </div>
          <div nz-col>
            <li nz-menu-item>
              <i nz-icon nzType="user-add" style="margin-right: 7px;" class="nav-link" routerLink="beneficiaire">
                Bénéficiaires
              </i>
            </li>
          </div>
          <div nz-col>
            <li nz-menu-item routerLink="demandes">
              <i nz-icon nzType="fund" class="nav-link">
                Demandes
              </i>
            </li>
          </div>
          <div nz-col *ngIf="authService.getRole() === 'SUPERVISEUR_PMO'">
            <li nz-menu-item routerLink="notifications">
              <i nz-icon nzType="fund" class="nav-link">
                Notifications
              </i>
            </li>
          </div>
          <div nz-col *ngIf="authService.getRole() === 'SUPERVISEUR_PMO'">
            <li nz-menu-item routerLink="users">
              <i nz-icon nzType="user-add" class="nav-link">
                Gestion des utilisateurs
              </i>
            </li>
          </div>
<!--          <div nz-col *ngIf="authService.getRole() === 'ANALYSTE_FINANCIER'">-->
<!--            <li nz-menu-item routerLink="template">-->
<!--              <i nz-icon nzType="fund" class="nav-link">-->
<!--                Templates-->
<!--              </i>-->
<!--            </li>-->
<!--          </div>-->
        </div>
      </ul>
    </div>
    <div nz-col [nzXs]="{ offset: 1, span: 6}" [nzSm]="{ offset: 1, span: 6, push: 0 }" [nzMd]="{ span: 2, offset: 0 }" [nzLg]="{ span:4, pull:2 }" [nzXl]="{ span: 3, pull:2 }">
      <div nz-row nzJustify="center" nzAlign="middle">
        <div nz-col>
        </div>

        <div nz-col>
          <nz-avatar [nzSize]="45" nzIcon="user" nzSrc="{{baseUrlFile}}{{pmo?.logo}}" nz-dropdown [nzDropdownMenu]="menuUser">
          </nz-avatar>

          <nz-dropdown-menu #menuUser="nzDropdownMenu">
            <ul nz-menu nzSelectable>
              <li nz-menu-item routerLink="profil" >
                <i nz-icon nzType="user" nzTheme="outline"></i>
                <span style="margin-left: 10px;">Profil</span>
              </li>
              <li nz-menu-item routerLink="change_password" >
                <i nz-icon nzType="edit" nzTheme="outline"></i>
                <span style="margin-left: 10px;">Changer mot de passe</span>
              </li>
              <li nz-menu-item (click)="askFordeconnexion()" >
                <i nz-icon nzType="logout" nzTheme="outline"></i>
                <span style="margin-left: 10px;">Se déconnecter</span>
              </li>
            </ul>
          </nz-dropdown-menu>


        </div>

      </div>
    </div>
  </div>

  <router-outlet></router-outlet>
</nz-layout>
