.two-fa-screen {
  background-image: url("/assets/images/logo/logo-mini.svg"),
  url("/assets/images/logo/logo-mini.svg");
  background-position: left top, right bottom;
  background-repeat: no-repeat;
  background-color: #ECF2FF;
  font-family: Poppins, serif;
}

#verifOtp {
  color: #2F335A;
  font-size: 22px;
  font-weight: 700;
}

.otpInput {
  text-align: center;
}

.codeOtp {
  font-size: 14px;
  color: #5D6273;
  font-weight: 500;
}

#resentCode {
  font-size: 16px;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.otprow input[type="text"] {
  background-color: #ECF2FF;
  height: 100%;
  width: 100%;
  padding-left: 6px;
  padding-right: 6px;

}
