<nz-spin [nzSpinning]="isSpinning" [nzDelay]="500">
  <div nz-row class="content-container" nzJustify="center">
    <div nz-col nzSpan="20">
      <div nz-row nzJustify="space-between" nzAlign="middle" class="demande-buget-container">
        <div nz-col nzSpan="5" class="demande-text">
          Notifications
        </div>
      </div>
      <div nz-row class="tabs-container">
        <div nz-col nzSpan="24">
          <nz-tabset>
            <nz-tab nzTitle="Toutes">
              <nz-table #nzTable [nzData]="listNotification?.content" nzTableLayout="fixed">
                <thead>
                <tr>
                  <th
                    *ngFor="let column of listOfColumns"
                    [nzSortOrder]="column.sortOrder"
                    [nzSortFn]="column.sortFn"
                    [nzSortDirections]="column.sortDirections"
                  >
                    {{ column.name }}
                  </th>
<!--                  <th-->
<!--                    *ngFor="let column of listOfColumnsBis"-->
<!--                    [nzSortOrder]="column.sortOrder"-->
<!--                    [nzSortFn]="column.sortFn"-->
<!--                    [nzSortDirections]="column.sortDirections"-->
<!--                    [nzFilterMultiple]="column.filterMultiple"-->
<!--                    [nzFilters]="column.listOfFilter"-->
<!--                    [nzFilterFn]="column.filterFn"-->
<!--                  >-->
<!--                    {{ column.name }}-->
<!--                  </th>-->
                  <th nzWidth="60px"></th>
                </tr>
                </thead>
                <tbody>
                <ng-container *ngFor="let data of nzTable.data">
                  <tr class="tr-showed">
                    <td>{{ data.demande.dateCreation | date:'dd/MM/yyyy HH:mm:ss' }}</td>
                    <td>{{ data.beneficiaire?.id }}</td>
                    <td>{{ data.demande?.id }}</td>
                    <td>{{ data.auteur?.prenom }} {{ data.auteur?.nom }}</td>
                    <td>{{ data.auteur?.acces?.profil?.libelle }}</td>
                    <td>{{ data.motif}}</td>
<!--                    <td [nzExpand]="expandSet.has(data.id+'')" (nzExpandChange)="onExpandChange(data.id+'', $event)"></td>-->
                  </tr>
<!--                  <tr [nzExpand]="expandSet.has(data.id+'')" class="tr-expanded" style="height: 160px;border: 1px solid #EBEBEB;">-->
<!--                    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">-->
<!--                      <div nz-col class="gutter-row" [nzSpan]="2">-->
<!--                        <div class="inner-box">-->
<!--                          <div nz-col nzSpan="2">-->
<!--                            <img alt="" height="30" src="assets/images/pmo/logo-detail" width="30">-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                      <div nz-col class="gutter-row" [nzSpan]="6">-->
<!--                        <div class="inner-box">-->
<!--                          {{data?.beneficiaire?.personnes?.[0]?.prenom}} {{data?.beneficiaire?.personnes?.[0]?.nom}}-->
<!--                        </div>-->
<!--                      </div>-->
<!--                      <div nz-col class="gutter-row" [nzSpan]="6">-->
<!--                        <div class="inner-box">-->
<!--                          Adresse<br>-->
<!--                          <span *ngIf="data?.beneficiaire?.personnes?.[0]?.adresse">{{data?.beneficiaire?.personnes?.[0]?.adresse}}</span>-->
<!--                          <span *ngIf="!data?.beneficiaire?.personnes?.[0]?.adresse">Non renseigné</span>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                      <div nz-col class="gutter-row" [nzSpan]="6">-->
<!--                        <div class="inner-box">-->
<!--                          Période de Prêt <br>-->
<!--                          {{data.duree}} Mois-->
<!--                        </div>-->
<!--                      </div>-->
<!--                      <div nz-col class="gutter-row" [nzSpan]="4">-->
<!--                        <div class="inner-box">-->
<!--                          <button nz-button nzType="primary"class="buton-detail" (click)="showModalDescriptionDemande(data)"> Détails </button>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">-->
<!--                      <div nz-col class="gutter-row" [nzSpan]="20">-->

<!--                      </div>-->
<!--                      <div nz-col class="gutter-row" [nzSpan]="4" *ngIf="data.statutDossier=='INITIER' && authService.getRole() === 'AGENT_INITIATEUR'">-->
<!--                        <div class="inner-box">-->
<!--                          <button nz-button nzType="primary"class="buton-detail" (click)="editDemande(data)"> Modifier </button>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                      <div nz-col class="gutter-row" [nzSpan]="4" *ngIf="data.statutDossier=='RECU_AF' && authService.getRole() === 'ANALYSTE_FINANCIER'">-->
<!--                        <div class="inner-box">-->
<!--                          <button nz-button nzType="primary"class="buton-detail" (click)="runMatching(data.id)"> Run Matching </button>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                      <div nz-col class="gutter-row" [nzSpan]="4" *ngIf="data.statutDossier=='MATCHE'  && authService.getRole() === 'ANALYSTE_FINANCIER'">-->
<!--                        <div class="inner-box">-->
<!--                          <button nz-button nzType="primary"class="buton-detail" (click)="getMatching(data.id)"> Choix Offres </button>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                      &lt;!&ndash;                      <div nz-col class="gutter-row" [nzSpan]="4">&ndash;&gt;-->
<!--                      &lt;!&ndash;                        <div *ngIf="data.statutDossier=='RECU_AF_MATCHE'  && authService.getRole() === 'ANALYSTE_FINANCIER' && !getTemplate(data)">&ndash;&gt;-->
<!--                      &lt;!&ndash;                          <div class="inner-box">&ndash;&gt;-->
<!--                      &lt;!&ndash;                            <button nz-button nzType="primary"class="buton-detail" (click)="addTemplate(data)"> Ajout Template </button>&ndash;&gt;-->
<!--                      &lt;!&ndash;                          </div>&ndash;&gt;-->
<!--                      &lt;!&ndash;                        </div>&ndash;&gt;-->
<!--                      &lt;!&ndash;                      </div>&ndash;&gt;-->
<!--                    </div>-->
<!--                  </tr>-->
                  <tr style="height: 20px;visibility: hidden;background-color: none;">

                  </tr>
                </ng-container>
                </tbody>
                <nz-pagination [nzPageIndex]="1" [nzTotal]="listNotification?.totalElements" (nzPageIndexChange)="pageIndexCall($event)" (nzPageSizeChange)= "pageSizeCall($event)" nzShowSizeChanger [nzPageSize]="5"></nz-pagination>
              </nz-table>
            </nz-tab>
          </nz-tabset>
        </div>
      </div>
    </div>
  </div>
</nz-spin>
