<nz-spin [nzSpinning]="isSpinning" [nzDelay]="500">
  <nz-list [nzDataSource]="notifications?.content" [nzRenderItem]="item" [nzItemLayout]="'horizontal'" >
    <ng-template #item let-item >
      <nz-comment nzAuthor="suqali" >
        <nz-avatar nz-comment-avatar nzIcon="user" nzSrc="../../../../../favicon.ico" ></nz-avatar>
        <nz-comment-content>
        <div nz-row nzJustify="center" nzAlign="middle">
            <div nz-col nzSpan="5">
              <!-- title and information  -->
                <div nz-row nzAlign="middle" nzJustify="start" >
                  <div nz-col nzSpan="20" class="title-comment">
                    Id Demande
                  </div>
                  <div nz-col nzSpan="20" class="title-content">
                    {{item.demande.id}}
                  </div>
                </div>
              <div nz-row nzAlign="middle" nzJustify="start" >
                  <div nz-col nzSpan="20" class="title-comment">
                    Id Beneficiaire
                  </div>
                  <div nz-col nzSpan="20" class="title-content">
                    {{item.beneficiaire.id}}
                  </div>
                </div>
              <!-- title and information  -->
            </div>
            <div nz-col nzSpan="5">
              <!-- title and information  -->
              <div nz-row nzAlign="middle" nzJustify="center">
                <div nz-col nzSpan="20" class="title-comment">
                  Date Modification
                </div>
                <div nz-col nzSpan="20" class="title-content">
                  {{item.beneficiaire.dateModification}}
                </div>
              </div>
              <!-- title and information  -->
            </div>
            <div nz-col nzSpan="5">
              <!-- title and information  -->
              <div nz-row nzAlign="middle" nzJustify="center">
                <div nz-col nzSpan="20" class="title-comment" >
                  Type Beneficiaire
                </div>
                <div nz-col nzSpan="20" class="title-content">
                  {{item.beneficiaire.typeBeneficiaire}}
                </div>
              </div>
              <!-- title and information  -->
            </div>

            <div nz-col nzSpan="5">
              <!-- title and information  -->
              <div nz-row nzAlign="middle" nzJustify="start">
                <div nz-col nzSpan="20" class="title-comment" >
                  Numero Beneficiaire
                </div>
                <div nz-col nzSpan="20" class="title-content">
                  {{item.beneficiaire.personnes?.[0]?.numeroMobile}}
                </div>
              </div>
              <!-- title and information  -->
            </div>

            <div nz-col nzSpan="4">
              <!-- title and information  -->
              <div nz-row nzAlign="middle" nzJustify="start">
                <div nz-col nzSpan="20" class="title-comment">
                  Action
                </div>
                <div nz-col nzSpan="20" class="title-content">
                  {{item.motif}}
                </div>
              </div>
              <!-- title and information  -->
            </div>

        </div>

        <div nz-row nzJustify="start" nzAlign="middle">
          <div nz-col nzSpan="4">
            <!-- title and information  -->
            <div nz-row nzAlign="middle" nzJustify="start">
              <div nz-col nzSpan="20" class="title-comment">
                Nom Agent
              </div>
              <div nz-col nzSpan="20" class="title-content">
                {{item.auteur.acces.prenom}} {{item.auteur.acces.nom}}
              </div>
            </div>
            <!-- title and information  -->
          </div>

        </div>

          <div nz-row nzJustify="start" nzAlign="middle">
          <div nz-col nzSpan="4">
            <!-- title and information  -->
            <div nz-row nzAlign="middle" nzJustify="start">
              <div nz-col nzSpan="20" class="title-comment">
                login Agent
              </div>
              <div nz-col nzSpan="20" class="title-content">
                {{item.auteur.acces.login}}
              </div>
            </div>
            <!-- title and information  -->
          </div>

        </div>

        </nz-comment-content>
        <!-- <nz-comment-action>Reply to</nz-comment-action> -->
        <br>
        <nz-comment-action>
          <button *ngIf="item.demande.statutDossier=='RECU'" class="card-button-demande" routerLink="/pmo/apercu" nz-button> Demandes </button>
        </nz-comment-action>
      </nz-comment>
    </ng-template>
    <nz-pagination [nzPageIndex]="1" [nzTotal]="notifications?.totalElements" (nzPageIndexChange)="pageIndexCall($event)" (nzPageSizeChange)= "pageSizeCall($event)" nzShowSizeChanger [nzPageSize]="5"></nz-pagination>
  </nz-list>
</nz-spin>
